{% extends 'base.html' %}
{% block style %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='assets/vendor/datatables/css/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='assets/vendor/datatables/css/buttons.bootstrap4.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='assets/vendor/datatables/css/select.bootstrap4.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='assets/vendor/datatables/css/fixedHeader.bootstrap4.css') }}">
{% endblock style %}

{% block content %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">{{ title }} </h5>
                <a href="#" onclick="addbtn();"><i id="plusminus" class="fas fa-plus" style="float: right">host</i></a>
                <div id="hostadd" style="display: None">
                    <form action="/hostadd" method="POST">
                        <table class="table table-striped table-bordered" style="width:100%">
                            <tr>
                                <th>hostname</th>
                                <th>ip</th>
                                <th>port</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td><input class="form-control" name="hostname"></td>
                                <td><input class="form-control" name="ip"></td>
                                <td><input class="form-control" name="port"></td>
                                <td><input type="submit" class="btn btn-space btn-primary" value="add"></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div id="hostedit" style="display: None">
                    <form action="/hostedit" method="POST">
                        <table class="table table-striped table-bordered" style="width:100%">
                            <tr>
                                <th>hostname</th>
                                <th>ip</th>
                                <th>port</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td><input type="hidden" name="org_hostname">
                                    <input class="form-control" name="hostname"></td>
                                <td><input class="form-control" name="ip"></td>
                                <td><input class="form-control" name="port"></td>
                                <td><input type="submit" class="btn btn-space btn-primary" value="edit">
                                    <input type="button" value="cancle" onclick="javascript: $('#hostedit').hide();"
                                           class="btn btn-space btn-secondary">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th>hostname</th>
                            <th>ip</th>
                            <th>port</th>
                            <th>manage</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in data %}
                            <tr>
                                <td>{{ i.hostname }}</td>
                                <td>{{ i.ip }}</td>
                                <td>{{ i.port }}</td>
                                <td>
                                    <button id="editbtn" onclick="editbtn()"
                                            class="btn btn-sm btn-outline-light btn-edit">Edit
                                    </button>
                                    <a href="/hostdel/{{ i.hostname }}">
                                        <button
                                                class="btn btn-sm btn-outline-light ">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </a>
                                    {#<button
                                            class="btn btn-sm btn-outline-light btn-delete" data-toggle="modal"
                                            data-target="#delModal">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                    <div class="modal fade" id="delModal" tabindex="-1" role="dialog"
                                         aria-labelledby="delModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="delModalLabel">삭제</h5>
                                                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </a>
                                                </div>
                                                <div class="modal-body">
                                                    <p> 삭제 하시겠습니까?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <a id="delurl" href="#"
                                                       class="btn btn-primary ">delete</a>
                                                    <a href="#" class="btn btn-secondary"
                                                       data-dismiss="modal">cancle</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>#}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>hostname</th>
                            <th>ip</th>
                            <th>port</th>
                            <th>manage</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
<!-- ============================================================== -->
<!-- end data table multiselects  -->
<!-- ============================================================== -->

<!-- Optional JavaScript -->
{% block script %}
    <script>
        function addbtn() {
            if ($('#hostadd').css('display') == 'none') {
                $('#hostadd').show();
                $('#plusminus').attr('class', 'fas fa-minus')
            } else {
                $('#plusminus').attr('class', 'fas fa-plus')
                $('#hostadd').hide();
            }
        }

        $('.btn-edit').click(function () {
            var checkBtn = $(this);
            console.log(checkBtn)
            var tr = checkBtn.parent().parent();
            var td = tr.children();
            var org_hostname = td.eq(0).text();
            var hostname = td.eq(0).text();
            var ip = td.eq(1).text();
            var port = td.eq(2).text();
            $('#hostedit > form > table > tbody > tr:nth-child(2) > td:nth-child(1) > input').val(org_hostname)
            $('#hostedit > form > table > tbody > tr:nth-child(2) > td:nth-child(1) > input').val(hostname)
            $('#hostedit > form > table > tbody > tr:nth-child(2) > td:nth-child(2) > input').val(ip)
            $('#hostedit > form > table > tbody > tr:nth-child(2) > td:nth-child(3) > input').val(port)
        })

        {#$('.btn-delete').click(function () {
            var checkBtn = $('.btn-edit');
            console.log(checkBtn)
            var tr = checkBtn.parent().parent();
            var td = tr.children();
            var hostname = td.eq(0).text();
            #}{#console.log(hostname)#}{#
            #}{#hostname = '/hostdel/'+hostname;
            console.log(hostname)
            $('#delurl').attr('href',hostname)#}{#
        })#}

        function editbtn() {
            if ($('#hostedit').css('display') == 'none') {
                $('#hostedit').show();
            }
        }
    </script>
    <script src="{{ url_for('static',filename='assets/vendor/multi-select/js/jquery.multi-select.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/vendor/multi-select/js/jquery.multi-select.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/vendor/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/libs/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/libs/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/vendor/datatables/js/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/vendor/datatables/js/data-table.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/libs/js/jszip.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/libs/js/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/libs/js/buttons.print.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/libs/js/buttons.colVis.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/libs/js/dataTables.rowGroup.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/libs/js/dataTables.select.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/libs/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
{% endblock script %}
</body>

</html>